notifications:
  email: false

sudo: true

language: python

cache:
  - pip

python:
  - 2.7

services:
  - docker

before_install:
  - travis_retry pip install git+git://github.com/reanahub/reana-commons.git@master#egg=reana-commons
  - travis_retry pip install git+git://github.com/reanahub/reana-client.git@master#egg=reana-client

script:
  - reana-client validate | grep -q ' is a valid '
